/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #e7755b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    border: solid #e7755b 3px;
    width: 100px;
    margin: 20px 0 30px 0;
}

/* CONTENEDOR WEB */
.contenedor {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

/* FLEX COMPORTAMIENTOS */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Para que los elementos se acomoden en filas si es necesario */
}

.flex-2 {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex-center-2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-gap {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

/* PORCENTAJES */
.div-50 {
    width: 50%;
}

.div-25 {
    width: 25%;
}

/* HEADER 1 */
.logo {
    width: 100px;
    height: 80px;
    margin: 30px 0 10px 0;
}

.nav-h1 a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

.nav-h1 a:hover {
    color: #e7755b;
}

.activo {
    color: #e7755b;
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid #e7755b 3px;
    padding-bottom: 6px;
}

#header-1 {
    background-image: url(img/background-home.jpg);
    background-position: center top;
    max-width: 100%;
    background-attachment: fixed;
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icono {
    width: 20px;
    height: 20px;
}

.cabezal {
    text-align: center;
}

.cabezal h1 {
    color: white;
    font-size: 52px;
    font-weight: 900;
    letter-spacing: 3px;
    padding-top: 60px;
    padding-bottom: 12px;
}

.cabezal h2 {
    color: #e7755b;
    font-size: 21px;
    letter-spacing: 8px;
    font-weight: lighter;
}

.cabezal p {
    color: white;
    font-size: 18px;
    padding: 12px 340px 20px 340px;
}

.cabezal a {
    color: black;
    font-size: 12px;
    padding: 15px;
    background: #e7755b;
    height: 25px;
    width: 60px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}

.cabezal a:hover {
    background: white;
}

/* Conoceme */
.flex-gap img {
    max-width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 8px;
}

.flex-gap img{
    width: 50%;
    height: 50%;
    padding: 50px;
}

.div-aboutme h3 {
    font-size: 15px;
    color: #e7755b;
    letter-spacing: 10px;
    padding-bottom: 45px;
    padding-top: 80px;
}

.div-aboutme h2 {
    color: white;
    font-size: 31px;
    font-weight: bold;
}

.div-aboutme p {
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.div-aboutme a {
    color: #e7755b;
    font-size: 17px;
    font-weight: bold;
}

.div-aboutme a:hover {
    color: white;
}

.sec-aboutme {
    background: black;
    padding: 30px 0 30px 0;
}

/* Más sobre mí */
.sec-conoceme {
    padding-top: 40px;
    padding-bottom: 10px;
}

.pr-conoceme {
    font-size: 31px;
    font-weight: 700;
}

.div-conoceme {
    width: 100%;
}

.div-conoceme img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    max-width: 280px; /* Limita el ancho máximo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
}

.div-conoceme img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.div-conoceme h3 {
    font-size: 19px;
    padding: 10px 0 20px 0;
}

.div-btn {
    width: 100%;
}

.div-conoceme a {
    font-size: 14px;
    color: white;
    border-radius: 8px;
    background: black;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.div-conoceme a:hover {
    color: black;
    background: white;
    border: solid 2px black;
    border-radius: 8px;
}

.mis-gustos {
    margin: 20px;
}

.btn-div {
    width: 300px;
    margin-top: 60px;
}

/* FOOTER */
footer {
    background: black;
    padding: 20px 0 20px 0;
    margin-top: 40px;
}

.logo-footer {
    width: 60px;
    height: 40px;
    margin-left: 35px;
}

.logo-redes {
    width: 35px;
    height: 25px;
    float: inline-end;
    margin-right: 35px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .div-50 {
        width: 100%; /* Las columnas se apilan en pantallas más pequeñas */
    }

    .div-25 {
        width: 50%; /* Ajusta el tamaño de los artículos en pantallas medianas */
    }

    .cabezal h1 {
        font-size: 36px; /* Ajusta el tamaño de la fuente en dispositivos móviles */
    }

    .cabezal p {
        padding: 12px 20px 20px 20px; /* Reduce el padding para pantallas más pequeñas */
    }
}

@media (max-width: 576px) {
    .div-25 {
        width: 100%; /* Las columnas se apilan en pantallas muy pequeñas */
    }

    .div-conoceme img {
        max-width: 200px; /* Ajusta el tamaño máximo de las imágenes en pantallas pequeñas */
    }

    .flex-gap img {
        padding: 10px; /* Ajusta el padding en pantallas pequeñas */
    }

    .cabezal h1 {
        font-size: 28px;
    }

    .cabezal h2 {
        font-size: 18px;
    }

    .cabezal p {
        padding: 12px; /* Ajusta el padding en pantallas más pequeñas */
    }
}
